body {
  font-family: 'Courier New', monospace;
  background-color: black;
  color: #00ff00;
  padding: 20px;
  margin: 0;
}
#terminal {
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 1px solid #00ff00;
  height: 90vh;
  width: 95vw;
  color: #00ff00;
  padding: 4px;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}
input {
  background-color: black;
  color: #00ff00;
  border: 1px solid #00ff00;
  outline: none;
  font-size: 16px;
  height: 5vh;
  width: 95vw;
  padding: 0 4px;
  font-family: 'Courier New', monospace;
}